* {
    margin-top: 0px;
    margin-bottom: 0px;
}
body {
    background-color: rgb(35, 31, 28);
    height: 100%;
    margin: 0;
}

/* Navigation Bar */
.navlist {  /* Parent of navigation bar */
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    border: 2.5px;
    border-style: solid;
    border-color: rgb(125, 0, 160);
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    height: 3.5rem;
    padding: 10px;
}

.navitem a { /* Children of navlist */
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    font-family: 'Unbounded', 'Times New Roman', sans-serif;
    font-size: 28px;
    color: black;
    font-weight: 500;
}

.navitem:hover a { /* Special effects when mouse hovers over navitems */
    transition: 200ms;
    transform: scale(1.2);
    color: red;
}

#nth {
    color:white;
}

#nth:hover { /* Special properties for "Join us" text like different color when hovering */
    transition: 200ms;
    transform: scale(1.0);
    color: white;
}

#button {  /* Button for "Join Us" and its effects */
    background-color: rgb(125, 0, 160);
    border-style: solid;
    border-radius: 6px;
    border-color: black;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .2); 
}

#button:hover {
    transition: 200ms;
    transform: scale(1.2);
}

#logo {  /* Juicy Apes Logo properties */
    border: 2px;
    border-color: rgb(125, 0, 160);
    border-style: solid;
    border-radius: 4px;
    height: 50px;
    width: 50px;
}
        /* ---Navigation bar ends--- */ 

.hero {
    display: flex;
    background-color: rgb(35, 31, 28);
    align-items: center;
    text-align: center;
}

#herowrapper {
    padding: 120px;
}

#herotitle {
    color: white;
    width: 500px;
    font-family: 'Righteous', sans-serif;
    font-size: 52px;
}

#herocaption {
    color: white;
    width: 500px;
    font-family: 'Oxygen', sans-serif;
    font-size: 26px;
}

#mainlogo {
    border-radius: 6px;
}

.mainbody {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
}

.mainwrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.mainitem {
    text-align: center;
}

#mainimg {
    border: 3px;
    border-radius: 4px;
    border-style: solid;
    border-color:rgb(125, 0, 160);
}

#mainp {
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
}

.mainbody2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
}

.mainwrapper2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.mainitem2 {
    text-align: center;
}

#mainimg2 {
    border: 3px;
    border-radius: 4px;
    border-style: solid;
    border-color:rgb(125, 0, 160);
}

#mainp2 {
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
}