* {
    margin-top: 0px;
    margin-bottom: 0px;
}
body {
    background-color: rgb(65, 90, 119);
    height: 100%;
    margin: 0;
/* -------Navigation Bar-------- */
}.navlist {  /* Parent of navigation bar */
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    border: 2.5px;
    border-style: solid;
    border-color: rgb(125, 0, 160);
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    height: 3.5rem;
    padding: 10px;
}

.navitem a { /* Children of navlist */
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    font-family: 'Unbounded', 'Times New Roman', sans-serif;
    font-size: 28px;
    color: black;
    font-weight: 500;
}

.navitem:hover a { /* Special effects when mouse hovers over navitems */
    transition: 200ms;
    transform: scale(1.2);
    color: red;
}

#nth { /* Giving the nth child its own color instead of using what the rest use */
    color:white;
}

#nth:hover { /* Special properties for "Join us" text like different color when hovering */
    transition: 200ms;
    transform: scale(1.0);
    color: white;
}

#button {  /* Button for "Join Us" and its effects */
    background-color: rgb(125, 0, 160);
    border-style: solid;
    border-radius: 6px;
    border-color: black;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .2); 
}

#button:hover { /* What happens when cursor hovers over the "Join us" button */
    transition: 200ms;
    transform: scale(1.2);
}

#logo {  /* Juicy Apes Logo properties */
    border: 2px;
    border-color: #7d00a0;
    border-style: solid;
    border-radius: 4px;
    height: 50px;
    width: 50px;
}
        /* ------Navigation bar ends------ */
/* ----- Hero container ----- */
#hero {
    display: flex;
}

#herowrapper {
    padding: 120px;
    align-items: center;
    text-align: center;
}

#herotitle {
    font-size: 52px;
    margin-bottom: 10px;
    font-family: 'Righteous', sans-serif;
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.loaded #herotitle {
    opacity: 1;
}

#herocaption {
    font-size: 26px;
    font-family: 'Oxygen', sans-serif;
    color: white;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.loaded #herocaption {
    opacity: 1;
}
/* ----- Hero container ends ----- */
    /* ----- Socials link begins ----- */
.social-title {
    font-family: 'Righteous', sans-serif;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    text-decoration-style: none;
    background-color: white;
}

.social-wrapper {
    margin-top: 20px;
    background-image: linear-gradient(to bottom right, rgb(255, 112, 112), rgb(139, 139, 255));
    border-style: solid;
    border-radius: 4px;
    padding: 10px;
}

.social-card {
    padding-bottom: 8px;
    color: white;
    text-align: center;
    font-family: 'Unbounded', sans-serif;
}

.s-caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    font-family: 'Righteous', sans-serif;
    font-size: 22px;
    color: rgb(255, 201, 249);
}

.s-caption:hover {
    transition: 200ms;
    transform: scale(1.2);
    color: rgb(251, 227, 248);
}